@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $base-bg-color;
  padding: $header-padding-y 16px;
  font-weight: bold;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  &_pageTitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 14px;

    a{
      font-size: 18px;
      text-decoration: none;
      color: #000000;
    }
  }

  &_avator {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }

  &_loginBtn {
    background-color: $primary-color;
    height: $avatar-size;
    border-radius: 8px;
    font-size: 12px;
    padding: 10px 16px;
    color: $base-bg-color;
    text-decoration: none;
  }

}